--extra-index-url https://download.pytorch.org/whl/cpu
pdfplumber
lxml
python-dotenv
google-genai
langgraph
mysql-connector-python
python-pptx
fastapi
uvicorn
pymysql
python-multipart
requests
chromadb==0.5.5
sentence-transformers
torch==2.5.1+cpu
numpy
pandas
pyarrow
