.manager-layout {
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
}

.manager-sidebar {
  width: 300px;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
}

.manager-logo {
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
  border-bottom: 1px solid #ccc;
}

.manager-menu {
  display: flex;
  flex-direction: column;
}

/* 그룹 간 간격 */
.menu-group.separated {
  margin-top: 40px;
}

.manager-menu-item {
  padding: 14px 20px;
  cursor: pointer;
  font-size: 18px;
}

.manager-menu-item:hover {
  background-color: #dcdcdc;
}

.manager-content {
  flex: 1;
  background-color: #ffffff;
  overflow-y: auto;
}

.menu-btn {
  padding: 14px 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
